{
  "private_dir": "C:/private",
  "public_html_path": "C:/public_html",
  "timezone": "America/Los_Angeles",
  "llm_model_online": "gpt-5-nano",
  "llm_model_offline": "gpt-oss:20b",
  "emb_model_online": "text-embedding-3-large",
  "emb_model_offline": "all-mpnet-base-v2",
  "meta_whitelist": "sony, apple, ece",
  "pin_open_expiry_hours": 36
}
