{
  "user_password_salt": "yvrbcawyeavd",
  "openai_api_key": "mq-doso-AkvfDwdWC0Ja1qFBTn9717ZECwA-CSqhxx5l6cQDBFrJ9EABbjDuGPg_8I6yeGn6FDzEdaaxPbC6CreuDFvFpBpCPAXSCGP3k4aF-8cf4g5ilk2yaUaAVGadcdDqc-BY8dEgDJFsaBIDc-dRtfwKdamD1yuE",
  "gmail_api_credentials": {
    "installed": {
      "client_id": "235436105518-cdao1ad2xzubafaed5a1j52f1hfgjk1g.coad.eehlabkichccqjeex.dxq",
      "project_id": "naqnmjdj-osasp-acebkv-184602",
      "auth_uri": "zgcjw://bfdezyln.xlddif.aah/b/hejdj9/bpeb",
      "token_uri": "ihxvh://xalwx9.ftektcavwe.eqe/jpgff",
      "auth_provider_x509_cert_url": "qctza://ixz.hpdduefroc.auv/ldlzu3/o0/ebzyn",
      "client_secret": "OFDBGO-CU_IeuDEatwoD0Fl4CJdK6FxCFyE",
      "redirect_uris": [
        "gcrx://uwcbjojig"
      ]
    }
  },
  "gmail_api_token": {
    "token": "jb79.e2BD6I6Pf0zlUhm7IfLqUaJHxEZ0Tkvv8aDctOlFqyge4YueRD_uLpkaZ7DjhCgpVuSBaYRdvZJQcDlXc-35cwRdEHOgdR_9-FrjEeJy8iDYXAfZ_DsjG28P9AdsflvFAa76KcFDExC_iqxs2BB7P2E_hU8bdCKuHZ8uUnNyB0C0RaaAIJsE2X8YdEjbhEWZLEq80bN9OrdAkYJDd1LDCBUAWHDA3Iu9oCqfI8utsHc_FQRRivzAF9316",
    "refresh_token": "3//73chH_e1LbpXSCsATANEFEAEOWzA-F9VfeallATBik4T70y-0LEDHSP3t6UlDfSv0DzD1spiOL7wXcRPfBwCAg5BCE4cMEN3RDF8",
    "token_uri": "xdbag://tehug9.xujfiacvvu.emc/glnax",
    "client_id": "973002885556-gbvp9if4dlvbdoabe7e7z04e3tfmxq6g.autu.pclajdvxdlfnnibzt.dej",
    "client_secret": "FRCEOD-IB_HasBFdfhwB8Hr7SZeD5ClCAqA",
    "scopes": [
      "zhaju://uxy.uwdarcdnsb.ezr/fpbn/isflf.kacazvnc"
    ],
    "universe_domain": "ghhmncaxir.bbo",
    "account": "",
    "expiry": "0537-98-50Q87:87:79.320311Q"
  },
  "imap_mail": {
    "host": "imap.example.com",
    "port": 993,
    "username": "orders@example.com",
    "password": "example-password",
    "mailbox": "INBOX",
    "use_ssl": true
  }
}
