{
  "user_password_salt": "yvrbcawyeavd",
  "openai_api_key": "mq-doso-AkvfDwdWC0Ja1qFBTn9717ZECwA-CSqhxx5l6cQDBFrJ9EABbjDuGPg_8I6yeGn6FDzEdaaxPbC6CreuDFvFpBpCPAXSCGP3k4aF-8cf4g5ilk2yaUaAVGadcdDqc-BY8dEgDJFsaBIDc-dRtfwKdamD1yuE",
  "gmail_api_credentials": {
    "installed": {
      "client_id": "235436105518-cdao1ad2xzubafaed5a1j52f1hfgjk1g.coad.eehlabkichccqjeex.dxq",
      "project_id": "naqnmjdj-osasp-acebkv-184602",
      "auth_uri": "zgcjw://bfdezyln.xlddif.aah/b/hejdj9/bpeb",
      "token_uri": "ihxvh://xalwx9.ftektcavwe.eqe/jpgff",
      "auth_provider_x509_cert_url": "qctza://ixz.hpdduefroc.auv/ldlzu3/o0/ebzyn",
      "client_secret": "OFDBGO-CU_IeuDEatwoD0Fl4CJdK6FxCFyE",
      "redirect_uris": [
        "gcrx://uwcbjojig"
      ]
    }
  },
  "imap_mail": {
    "host": "imap.example.com",
    "port": 993,
    "username": "orders@example.com",
    "password": "example-password",
    "mailbox": "INBOX",
    "use_ssl": true
  },
  "digikey_api": {
    "customer_id": "245634",
    "client_id": "sdgfh35462dbs",
    "client_secret": "fgsd8gsdfg8734579dfgb89sdf9354697dgf87hgdf"
  }
}
